body{
	background-color: white;
	font-family: 'Open Sans', sans-serif!important;
}
h2{
	font-family: 'Open Sans', sans-serif;
}
.button{
	background-color: #398bff;
	color:black;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1px 3px 1px 3px;
	cursor:pointer;
}